%p#notice= notice

%h1= @blog.title

%p
  %strong Title:
  = @entry.title
%p
  %strong Body:
  = @entry.body

= link_to 'Edit', edit_blog_entry_path(@blog, @entry)
\|
= link_to 'Back', blog_path(@blog)

%hr

%h2 Comments
= render 'comments/index', blog: @blog, entry: @entry, comments: @comments
%br

%h2 New Comment
= render 'comments/form', blog: @blog, entry: @entry, comment: @comment
