= form_with(model: user, local: true) do |f|
  .field
    = f.label :名前
    = f.text_field :name, id: :user_name
  .field
    = f.label :メール
    = f.text_field :email, id: :user_email
  .field
    = f.label :電話
    = f.text_field :tel, id: :user_tel
  .actions
    = f.submit '保存する'
