%h1 ユーザー登録一覧
%p Listing users
%table
  %thead
    %tr
      %th id
      %th 名前
      %th メール
      %th 電話番号
  - @users.each do |user|
    %tr
      %td= user.id
      %td= user.name
      %td= user.email
      %td= user.tel
      %td= link_to "詳細", user
      %td= link_to "編集", edit_user_path(user)
      %td= link_to "削除", user, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to "ユーザー追加", new_user_path
