!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title BesukeApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
  %body
    %p.alert= alert
    = yield
    = javascript_include_tag 'application'
    -# - if customer_signed_in?
      %p= link_to "ログアウト", destroy_customer_session_path, method: :delete
